<div class="col-10 offset-1 about">
  <p>
    Splurty was built by <a target="_blank" href="https://github.com/josearellanodev">Jose</a>. A web developer who is on a mission to learn the technical skills needed to launch ideas into reality.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

<div class="row">
  <div class="col-12 col-sm-4">
    <%= image_tag 'jarellano.jpg', class: 'img-fluid' %> 
  </div>
  <div class="col-12 col-sm-7 offset-sm-1">
    <h2 class="text-center">Jose Arellano</h2>
    <br />
    <p>
    Jose Arellano is an aspiring web developer. Jose Arellano is an aspiring web developer. Jose Arellano is an aspiring web developer. Jose Arellano is an aspiring web developer. Jose Arellano is an aspiring web developer. Jose Arellano is an aspiring web developer. 
    </p>
    
  </div>
</div>

<br class="clear" />

<div class="row">
  <div class="col-12 col-sm-4" style="padding-top:30px;">
    <%= image_tag 'jarellano.jpg', class: 'img-fluid' %> 
  </div>
  <div class="col-12 col-sm-7 offset-sm-1">
    <h2 class="text-center">Jose Arellano</h2>
    <br />
    <p>
    Jose Arellano is an aspiring web developer. Jose Arellano is an aspiring web developer. Jose Arellano is an aspiring web developer. Jose Arellano is an aspiring web developer. Jose Arellano is an aspiring web developer. Jose Arellano is an aspiring web developer. 
    </p>
    
  </div>
</div>




</div>



